@tailwind base;
@tailwind components;
@tailwind utilities;


/* Firefox */
* {
  scroll-behavior: smooth;
  scrollbar-width: none;
  scrollbar-color: white white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}

/* Preloader */

.introduction {
  height: 100dvh;
  width: 100vw;
  position: fixed;
  z-index: 2147483003;
  background-color: #000000;
}

.introduction svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% + 300px);
}

.introduction svg path {
  fill: #000000;
}

@media screen and (max-width: 450px) {
  .introduction svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 300px);
  }
}

/* End Preloader */

.slider{
  z-index: 100 !important;
}