@tailwind base;
@tailwind components;
@tailwind utilities;

/* Preloader */

.introduction {
  height: 100dvh;
  width: 100vw;
  position: fixed;
  z-index: 2147483003;
  background-color: #000000;
}

.introduction svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% + 300px);
}

.introduction svg path {
  fill: #000000;
}

@media screen and (max-width: 450px) {
  .introduction svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 300px);
  }
}

/* End Preloader */